* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Outfit", serif;
}

:root {
  --primary-blue: #5371FF;
  --dark-blue: #1d3bd0;
  --darker-blue: #0000BF;
  --light-blue: #8fd2ff;
  --grey: #F3F4F6;
  --white: #fdfdfd;
  --black: #121212;
  --dark-transparent: rgb(13, 28, 104, .9);
  --background-dark-transparent:rgb(13, 28, 104, .4);
}

h1 {
  font-weight: 800 !important;
  font-size: 4.2rem;
}

h2 {
  font-weight: 600;
  font-size: 3.6rem;
}

h3 {
  font-weight: 600;
  font-size: 3rem;
}

h4 {
  font-weight: 600;
  font-size: 2.6rem;
}

h5 {
  font-weight: 500;
  font-size: 2.2rem;
}

h6 {
  font-weight: 400;
  font-size: 1.8rem;
}

p , a{
  font-size: 1.16rem !important;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: .3rem !important;
}

strong {
  font-weight: 700 !important;
}
span h4 {
  text-decoration: underline 2px solid var(--white);
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.embedded-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}


#navbar , .dropdown-menu.show{
  background-color: var(--darker-blue) !important;
}

#navbar.scrolled {
  background-color: var(--dark-transparent) !important; 
}
.navbar a {
  color: var(--white) !important;
} 
#logo {
  height: 60px;
  width: auto;
}
.dropdown-item:focus, .dropdown-item:hover {
  background-color: var(--dark-blue);
}

#cta {
  width: fit-content;
  color: var(--primary-blue);
  font-size: 1.3rem;
  text-decoration: none;
  margin-top: .1em;
  display: inline-block;
  font-weight: bold;
  padding: .5em .5em .5em 0;
  margin-left: -.1em;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  &:before, &:after {
      position: absolute;
      content: '';
      border-bottom: 3px solid rgb(0, 99, 228);
      border-radius: 1em;
      bottom: .3em;
      transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &:before {
      width: 1em;
      transform-origin: left;
  }

  &:after {
      width: 82%;
      left: 1em;
      transform: translateX(110%);
  }

  &:hover:before {
      transform: scaleX(0.3);
  }

  &:hover:after {
      transform: translateX(0);
  }

}

.seperator {
	border-bottom:1px solid var(--black);
	width: 35px;
	display: inline-block;
	margin: 20px;
}


/*blog start*/
.blog-portal-more {
  overflow: auto;
  white-space: nowrap;
}

.blog-portal-more a {
  text-decoration: none;
  color: var(--black);
}

.blog-portal-more > div {
  display: inline-block;
}

.blog-portal-more-card {
  padding: 1rem;
  width: 48%;
  white-space: normal;
}

.blog-portal-more-img {
  height: 30vh;
  width: 100%;
  object-fit: cover;
}

.blog-portal-main-card, .blog-portal-left {
  width: 50%;
}

.blog-portal-main-card {
  width: 100%;
}

.blog-portal-main-img{
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.blog-portal-img{
  width: 30%;
  height: 100%;
  object-fit: cover;
}
/*blog end*/

.connect-background {
  background-image: url(../../assets/website-images/lets-connect.jpg);
  background-size: cover;
  background-position: center;
  background-clip: text;
  height: 100vh;
  font-weight: bold;
  font-size: 18em;
  text-align: right;
  line-height: 100%;
  -webkit-text-fill-color: var(--background-dark-transparent);
  margin: 6rem 0;
  padding: 2rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  
  &:before {
      content: '';
      background-color: var(--background-dark-transparent);
      background-image: inherit;
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -2;
  }
}

.contact-header {
	text-align: center;
	display: table;
	width: 100%;
}
.contact-header .shtext {
	display: block;
	margin-top: 20px;
}

.contact-header h1 {
	font-size: 40px;
	color: var(--primary-blue);
	font-weight: normal;
}

.contact-container {
    width: 1200px;
    margin: 0 auto;
}
.contact-container .col2 {
	width: 48.71%;
}
.contact-container .col2.last {
	float: right;
}
.contact-container .col2.column2 {
	padding: 0 30px;
}
.contact-container span.contact-highlight {
	color: #a2a2a2;
	margin-right: 10px;
	display: inline-block;
}
.contact-container .contact-details {
	display: block;
	line-height: 26px;
}
.contact-container .contact-details p:first-child {
	margin-bottom: 10px;
}

.contact-container .contact-form h6 {
    margin-top: 30px;
    border-bottom: 1px solid var(--white);
    color: var(--primary-blue);
}

footer ,.footer-link {
  background-color: var(--primary-blue);
  color: var(--white) !important;
  text-decoration: none;
}

footer p {
  font-size:medium;
}

.footer-nav-links {
  width: 26rem;
}

.footer-social-icons {
  width: 12rem;
}
.footer-social-icon {
  height: 20px;
  width: auto;
}

@media only screen and (max-width: 1280px) {
  h1 { font-size: 3.8rem; }
  h2 { font-size: 3.4rem; }
  h3 { font-size: 3rem; }
  h4 { font-size: 2.8rem; }
  h5 { font-size: 2.6rem; }
  h6 { font-size: 2.4rem; }
  p, a { font-size: 1.8rem; }

  .article-container {
    width: 80%;
  }

  /*blog start*/
  .title h1 {
    font-size: 6.6em;
  }

  .blog-portal {
    flex-direction: column;
  }

  .blog-portal-main-card, .blog-portal-left {
    width: 100%;
  }

  .blog-portal-left {
    flex-direction: row !important;
    align-items: flex-start;
  }
  
  .blog-portal-main-card {
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .blog-portal-main-img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }
  
  .blog-portal-img{
    width: 30%;
    object-fit: contain;
  }
  /*blog end*/

  .connect-background {
    height: 60vh;
    font-size: 10em;
    margin: 6rem 0 0 0;
  }
	.contact-container {
		width: 100%;
	}
}
@media only screen and (max-width: 1040px) {
    h1 { font-size: 3.4rem; }
    h2 { font-size: 3rem; }
    h3 { font-size: 2.6rem; }
    h4 { font-size: 2.2rem; }
    h5 { font-size: 1.8rem; }
    h6 { font-size: 1.6rem; }
    p, a { font-size: .6rem; }

    /*blog start*/
    .title h1 {
      font-size: 5.2em;
    }

    .article-container {
      width: 90%;
    }
  
    .blog-portal-left {
      flex-direction: column !important;
    }
    
    .blog-portal-card:nth-child(1) {
      padding-bottom: 1.4rem ;
      border-bottom: 2px solid var(--grey);
    }
    .blog-portal-img{
      width: 20%;
    }
    .blog-portal-main-img{
      height: 54vh;
    }

    .blog-portal-more-img{
      height: 28vh;
    }

    .blog-portal-more {
      gap: 3rem;
      display: grid;
      grid-template-columns: auto auto;
    }

    .blog-portal-more a {
      text-decoration: none;
      color: var(--black);
    }
    
    .blog-portal-more-card {
      padding: 0;
      width: 100%;
    }
    /*blog end*/

    .connect-background {
      font-size: 8em;
    }
	.contact-us-container {
		padding: .2rem;
	}
	.contact-container .col2 {
		width: 100%;
		display: block;
	}
	.contact-container .col2.column2 {
		padding: 0;
	}
  .contact-container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 770px) {
 
    h1 { font-size: 2.8rem; }
    h2 { font-size: 2.4rem; }
    h3 { font-size: 2.2rem; }
    h4 { font-size: 2rem; }
    h5 { font-size: 1.6rem; }
    h6 { font-size: 1.4rem; }
    p, a { font-size: 0.95rem; }

    .article-container {
      width: 60%;
    }
    
    .article-main-img{
      width: 100%;
      height: 70vh;
      object-fit: cover;
    }
    
    .article-sub-image img {
      width: 100%;
      height: 40vh;
      object-fit: cover;
    }

    blockquote {
      padding-left: 1rem;
      border-left:  var(--darker-blue) 4px solid;
    }
    
    .title {
      border-top: .4px solid var(--darker-blue);
      border-bottom: .4px solid var(--darker-blue);
    }
    
    .title h1 {
      color: var(--darker-blue);
      font-size: 8.6em;
    }

    /*blog start*/
    .article-container {
      width: 100%;
    }

    .title h1 {
      font-size: 2.4em;
    }
    .blog-portal-more-img{
      height: 38vh;
    }
    /*blog end*/

    .contact-container .contact-details {
		font-size: 14px;
	}
	.contact-container .contact-form h3 {
		font-size: 16px;
	}
	.contact-container .contact-form input[type="text"], .contact-container .contact-form input[type="email"], .contact-container .contact-form textarea {
		padding: 10px;
		margin:3px 0;
	}
	.contact-container .contact-form input[type="submit"] {
		padding: 10px 30px;
		font-size: 14px;
	}
  .footer-nav-links {
    width: 22rem;
  }
.heading {
  font-size: 2.5rem;
}
}
@media only screen and (max-width: 560px) {
  h1 { font-size: 2.4rem; }
  h2 { font-size: 2rem; }
  h3 { font-size: 1.8rem; }
  h4 { font-size: 1.6rem; }
  h5 { font-size: 1.4rem; }
  h6 { font-size: 1.2rem; }
  p, a { font-size: 0.9rem !important; }

  /**/
  .title h1 {
    font-size: 2.2em;
  }
  .blog-portal-more-card {
    width: 100%;
  }

  .blog-portal-more-img{
    height: 28vh;
  }
  
  .blog-portal-more {
    grid-template-columns: auto;
  }

  .blog-portal-img{
    width: 100%;
    height: 20vh;
    object-fit: cover;
  }
  .blog-portal-main-img {
    height: 30vh;
  }
  .blog-portal-card {
    flex-direction: column;
    width: 100%;
  }
  /**/

  .connect-background {
    height: 40vh;
    font-size: 3em;
  }
	.contact-header h1 {
		font-size: 28px;
	}	
}
@media only screen and (max-width: 450px) {

  /*blog start*/
  .title h1 {
    font-size: 2em;
  }
  /*blog end*/
  
  .footer-nav-links {
    width: 20rem;
  }
}